doctype html
html(lang='es')
  include ../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../common/navbar.pug
      +navbar()
    .container
      .blog
        .blog-container
          if errors
            p.text-danger= errors
          if success
            p.text-success= success
          each post in posts
            .row.justify-content-center
              .col-12.col-lg-9
                article.post-container
                  .meta
                    i.fas.fa-calendar-alt
                    | &nbsp;&nbsp;
                    span= post.createdAt.toLocaleDateString("es-ES")
                  .post-header
                    h1
                      a(href=`/blog/${post.url}`)= post.title
                  .post-body
                    p= post.description
    include ../common/footer.pug
    +footer()
