doctype html
html(lang='es')
  include ../common/head.pug
  +head("Crear Blog")
  body
    header
      include ../common/navbar.pug
      +navbar(true)
    section
      .centered
        .div
          .images-container.text-center
            h2 Administrar imágenes
            if errors
              p.text-danger= errors
            if success
              p.text-success= success
            if files
              each file in files
                .image-file
                  a(href=`/images/blog/${post.url}/${file}`) !{file}
                  | &nbsp;&nbsp;
                  form(action=`/blog/images/${post.id}?_method=DELETE` method='POST' onsubmit="return confirm('¿Realmente quieres eliminar esta imagen?');").d-inline
                    input(name="file" type="hidden" value=`${file}`)
                    button(type='submit').btn.btn-danger Eliminar
          form(method='POST' enctype='multipart/form-data' action=`/blog/${post.id}`)
            .form-group
              label(for="imageFile") Subir una imagen:
              input(type="file" id="imageFile" name="imageFile" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" required).form-control-file
            button(type="submit").btn.btn-primary Confirmar
    include ../common/footer.pug
    +footer()
